.Home{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#F5F5F5;

    .home-container{
        padding: 2% 4% 2% 4%;
        // width: fit-content;
        height: 100%;
        
        .wrapper{
            width: 100%;
            height: 100%;
            
            overflow-x: hidden;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none; 
            &::-webkit-scrollbar{
                display: none;
            }

            .home-content-container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                .left-panel{
                    // position: relative;
                    // float: left;
                    width: fit-content;
                    height: 100%;
                    display: flex;
                    flex-flow: column;

                    .hospital-title{
                        // background-color: teal;
                        height: 10%;
                        width: fit-content;
                        padding: 0 0 10px 0;
                        margin-left: auto;
                        margin-right: auto;
                        // transform: translateX(-1rem);
                        display: flex;
                        align-items: center;
                        .hospital-thai-name{
                            text-align: center;
                            // float: left;
                            color: #2b2b2b;
                            font-size: 1.65vw; 
                            .hospital-eng-name{
                                color: #636363;
                                margin-top: -15px;
                                font-size: 1.4vw;
                            }
                        }
                        .logo-wrapper{
                            margin-right: 10px;
                            height: 100%;
                            img{
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                    
                    .hospital-photo{
                        flex: 1;
                        height: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        width: fit-content;
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
                .right-panel{
                    // position: relative;
                    // float: left;
                    width: 30%;
                    height: 100%;
                    padding-left: 40px;
                    display: flex;
                    flex-flow: column;

                    .info-header{
                        min-height: 40px;
                        height: fit-content;
                        font-size: 1.3vw;
                        line-height: 20px;
                        text-align: center;
                        margin-bottom: 10px;
                        padding: 5px 10px 5px 10px;
                        background-color: rgb(255, 255, 255);
                        border: 1px solid #6363635d;
                        border-radius: 5px;
                        .info-header-eng{
                            // margin-top: -5px;
                            font-size: 1.2vw;
                            color: #6363635d;
                        }
                    }
                    .info-history-header{
                        // font-size: 1.2vw;
                        font-size: 2.75vh;
                        flex: 2;
                        font-weight: 600;
                        margin-bottom: 10px;
                        padding: 5px 15px 5px 15px;
                        background-color: rgb(255, 255, 255);
                        border: 1px solid #6363635d;
                        border-radius: 5px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        -ms-overflow-style: none;
                        scrollbar-width: none; 
                        &::-webkit-scrollbar{
                            display: none;
                        }
                        .info-history-body{
                            // font-size: 1.1vw;
                            font-size: 2.3vh;
                            @media screen and (min-width: 1600px){
                                font-size: 2.4vh
                            }
                            line-height: 2.87vh;
                            font-weight: 500;
                            word-wrap: break-word;
                        }
                    }
                    .info-contact{
                        background-color: rgb(255, 255, 255);
                        border: 1px solid #6363635d;
                        border-radius: 5px;
                        .info-contact-header{
                            font-size: 1.2vw;
                            text-align: center;
                            background-color: #d1d1d1;
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                        }
                        .info-contact-name{
                            font-size: 1.2vw;
                            line-height: 2.5vh;
                            padding: 6px 10px 0 20px;
                        }
                        .location-contact{
                            line-height: 2.5vh;
                            font-size: 1.1vw;
                            padding: 5px 0 0 20px;
                            white-space: pre-wrap;
                        }
                        .tel-contact{
                            line-height: 2.5vh;
                            font-size: 1.1vw;
                            padding: 5px 0 0 20px;
                            white-space: pre-wrap;
                        }
                        .email-contact{
                            line-height: 2.5vh;
                            font-size: 1.1vw;
                            padding: 5px 0 6px 20px;
                            white-space: pre-wrap;
                        }
                    }
                }
            }
        }
    }
}