.Home{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#F5F5F5;

    .home-container{
        padding: 2% 4% 2% 4%;
        width: 100%;
        height: 100%;
        
        .wrapper{
            width: 100%;
            height: 100%;
            
            overflow-x: hidden;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none; 
            &::-webkit-scrollbar{
                display: none;
            }

            .home-content-container{
                width: 100%;
                height: 100%;

                .left-panel{
                    position: relative;
                    float: left;
                    // background-color: coral;
                    width: 70%;
                    @media screen and (max-width: 1280px) {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    @media screen and (min-height: 960px) and (max-width: 1280px) {
                        height: calc((100% * 0.6) - 10%);
                    }
                    height: 100%;
                    display: flex;
                    flex-flow: column;

                    .hospital-title{
                        // background-color: teal;
                        height: 10%;
                        width: fit-content;
                        padding: 0 0 10px 0;
                        margin-left: auto;
                        margin-right: auto;
                        transform: translateX(-1rem);
                        display: flex;
                        align-items: center;
                        .hospital-thai-name{
                            text-align: center;
                            // float: left;
                            color: #2b2b2b;
                            font-size: 1.5rem; 
                            .hospital-eng-name{
                                color: #636363;
                                margin-top: -15px;
                                font-size: 1.25rem;
                            }
                        }
                        .logo-wrapper{
                            margin-right: 10px;
                            height: 100%;
                            img{
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                    
                    .hospital-photo{
                        flex: 1;
                        height: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        width: fit-content;
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
                .right-panel{
                    position: relative;
                    float: left;
                    // background-color: crimson;
                    width: 30%;
                    height: 100%;
                    @media screen and (max-width: 1280px) {
                        width: 100%;
                        height: fit-content;
                    }
                    padding-left: 4%;
                    display: flex;
                    @media screen and (max-width: 1280px) {
                        display: block;
                        padding-left: 0;
                    }
                    flex-flow: column;

                    .info-header{
                        font-size: 1.2rem;
                        @media screen and (max-width: 1280px) and (min-width: 1025px)  {
                            width: 29%;
                            float: left;
                            font-size: 1.4rem;
                        }
                        text-align: center;
                        margin-bottom: 15px;
                        padding: 5px 10px 5px 10px;
                        background-color: rgb(255, 255, 255);
                        border: 1px solid #6363635d;
                        border-radius: 5px;
                        .info-header-eng{
                            margin-top: -5px;
                            font-size: 1rem;
                            color: #6363635d;
                            @media screen and (max-width: 1280px) and (min-width: 1025px)  {
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .info-history-header{
                        font-size: 1.2rem;
                        @media screen and (max-width: 1280px) {
                            width: 69%;
                            min-height: 45%;
                            height: fit-content;
                            float: right;
                            font-size: 1.5rem;
                        }
                        flex: 2;
                        font-weight: 600;
                        margin-bottom: 15px;
                        padding: 5px 10px 5px 10px;
                        background-color: rgb(255, 255, 255);
                        border: 1px solid #6363635d;
                        border-radius: 5px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        -ms-overflow-style: none;
                        scrollbar-width: none; 
                        &::-webkit-scrollbar{
                            display: none;
                        }
                        .info-history-body{
                            font-size: 0.875rem;
                            line-height: 15px;
                            @media screen and (min-width: 1367px) {
                                font-size: 1.2rem;
                                line-height: 18px;
                            }
                            @media screen and (max-width: 1280px) and (min-width: 1025px)  {
                                font-size: 1.2rem;
                                line-height: 25px;
                            }
                            font-weight: 500;
                            word-wrap: break-word;
                        }
                    }
                    .info-contact{
                        @media screen and (max-width: 1280px) {
                            width: 29%;
                            float: left;
                        }
                        background-color: rgb(255, 255, 255);
                        border: 1px solid #6363635d;
                        border-radius: 5px;
                        .info-contact-header{
                            text-align: center;
                            background-color: #d1d1d1;
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            @media screen and (max-width: 1280px) and (min-width: 1025px)  {
                                font-size: 1.2rem;
                            }
                        }
                        .info-contact-name{
                            padding: 5px 10px 0 10px;
                            @media screen and (max-width: 1280px) and (min-width: 1025px)  {
                                font-size: 1.2rem;
                                padding: 10px 10px 0 10px;
                            }
                        }
                        .location-contact{
                            font-size: 0.875rem;
                            padding: 5px 0 0 10px;
                            white-space: pre-wrap;
                            @media screen and (max-width: 1280px) and (min-width: 1025px)  {
                                font-size: 1.05rem;
                            }
                        }
                        .tel-contact{
                            font-size: 0.875rem;
                            padding: 5px 0 0 10px;
                            white-space: pre-wrap;
                            @media screen and (max-width: 1280px) and (min-width: 1025px)  {
                                font-size: 1.05rem;
                            }
                        }
                        .email-contact{
                            font-size: 0.875rem;
                            padding: 5px 0 5px 10px;
                            white-space: pre-wrap;
                            @media screen and (max-width: 1280px) and (min-width: 1025px) {
                                font-size: 1.05rem;
                            }
                        }
                    }
                }
            }
        }
    }
}