.Pharmacist{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#F5F5F5;

    .container{
        padding: 2% 4% 4% 4%;
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: row;

        .top-wrapper{
            height: 70px;
        }

        .bottom-wrapper{
            height: calc(100% - 70px);
        }

        .spinner-grow{
            position: absolute;
            top: 50%;
            left: 50%;
        }
        @keyframes spinner-grow {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            50% {
                opacity: 1; 
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
            }
        }

        .filler{
            flex: 1;
        }
        .main-chart-title{
            font-size: 2.25rem;
        }
        .sub-chart-title{
            font-size: 1.75rem;
            height: 50px;
        }
        .sex-pie, .role-pie{
            float: left;
            height: calc(100% - 50px);
            width: 50%;
            @media screen and (max-width: 1023px) {
                width: 100%;
                height: 60%;
            }
        }
        .age-pie{
            height: 50%;
            width: 100%;
        }
        .right-box{
            float: left;
            height: calc(100% - 50px);
            width: 50%;
            display: flex;
            flex-flow: column;
            padding-left: 15px;
            @media screen and (max-width: 1023px) {
                width: 100%;
                height: calc(40% - 50px);
            }
        }
        .bottom-box{
            height: calc(50% - 50px);
            width: 100%;
            display: flex;
            flex-flow: column;
            padding-top: 2rem;
            padding-left: 2rem;
            @media screen and (max-width: 1023px) {
                padding-top: 0;
                padding-left: 0;
            }
        }
        .tag-chart{
            font-size: 1.4rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .left{
            width: 47%;

            .bottom-wrapper{
                display: flex;
                flex-flow: column;
                
                .chart-sex-module{
                    width: 100%;
                    height: 47%;
                    background-color: white;
                    border-radius: 8px;
                    box-shadow: 0 3px 3px #0000000e;
                    padding: 15px 30px 30px 30px;
                }

                .chart-preg-module{
                    width: 100%;
                    height: 47%;
                    background-color: white;
                    border-radius: 8px;
                    box-shadow: 0 3px 3px #0000000e;
                    padding: 15px 30px 30px 30px;
                }
            }
        }

        .right{
            width: 47%;

            .bottom-wrapper{
                padding: 15px 30px 15px 30px;
                background-color:white;
                border-radius: 8px;
                box-shadow: 0 3px 3px #0000000e;
            }

            .main-chart-type-select{
                float: right;
                margin-top: 5px;
                background-color: #e3e8ec;
                border-radius: 5px;
                border-color: rgb(175, 175, 175);
                color:  rgb(88, 88, 88);
                -webkit-appearance:none;
                -moz-appearance: none; 
                -webkit-appearance: none; 
                appearance: none;

                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='0.5em' height='1em' viewBox='0 0 16 16' class='bi bi-caret-down-fill' fill='rgb(88, 88, 88)' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3e%3c/svg%3e");
                background-repeat: no-repeat, repeat !important;
                background-position: right .7em top 50%, 0 0 !important;
                background-size: .65em auto, 100% !important;
                
                padding: 3px 15px 3px 15px;
                width: 100px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                font-size: 1.5rem;
            }
        }
        
    }
}