.Staff{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#F5F5F5;

    .create-form{
        position: absolute;
        z-index: 910;
        top: calc(var(--vh, 1vh) *(-6));
        left: -20vw;
        background-color: #343a40bb;
        width: calc(100% + 20vw);
        height: calc(100% + var(--vh, 1vh) *6);

        .del-form-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #F5F5F5;
            border-radius: 5px;
            width: 500px;
            // height: 200px;
            height: fit-content;
            font-size: 1.3rem;
            padding: 1.5rem 1.5rem 0rem 0;

            .content-text{
                padding: 0 0 1rem 2rem;
                text-align: center;
                
            }
            .content-text-2{
                padding: 0 0 1rem 2rem;
                text-align: left;
                max-height: 150px;
                overflow-y: auto;
                li{
                    white-space: pre;
                }
            }

            .cancel-btn{
                font-size: 1.3rem;
                border: 1px solid #717579;
                width: 100%;
                &:focus{
                    background-color: white;
                    box-shadow: none;
                }
                &:hover{
                    background-color: #e3e8ec;
                }
            }
            .submit-btn{
                font-size: 1.3rem;
                width: 100%;
                &:focus{
                    box-shadow: none;
                }
            }
        }

        .form-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #F5F5F5;
            border-radius: 5px;
            width: 576px;
            height: 526px;
            padding: 1.75rem 2rem 0rem 0;
            label{
                text-align: right;
                font-size: 1.3rem;
            }
            #name-form, #age-form, #sex-form, #tel-form{
                background-color: white;
                border-radius: 5px;
                border-color: white;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                font-size: 1.3rem;
            }
            #sub-form{
                margin-bottom: 0;
            }

            .checkbox-center{
                width: fit-content;
                height: fit-content;
                margin-top: 0.55rem;
            }
            .cancel-btn{
                font-size: 1.3rem;
                border: 1px solid #717579;
                width: 100%;
                &:focus{
                    background-color: white;
                    box-shadow: none;
                }
                &:hover{
                    background-color: #e3e8ec;
                }
            }
            .submit-btn{
                font-size: 1.3rem;
                width: 100%;
                &:focus{
                    background-color: #007bff;
                    box-shadow: none;
                }
                &:hover{
                    background-color: #0065d1;
                }
            }
        }
    }

    .container{
        margin-top: 4%;
        padding: 0;

        .add-user-wrapper{
            width: 96%;
            position: absolute;
            right: 2%;
            min-height: 35px;

            .nofocus:focus{
                outline: none;
                box-shadow: none;
            }
            
            Button{
                position: relative;
                width: 135px;
                height: 35px;
                margin: 0 0 0 25px;
                float: right;
            }

            .delete-user-btn, .edit-user-btn, .x-user-btn{
                float: left;
                margin: 0 10px 0 0;
                height: 35px;
                width: 35px;
            }
            .add-user-btn, .select-user-btn{
                font-size: 1.3rem;
                padding-top: 0.1rem;
            }
        }
        .wrapper{
            position: absolute;
            left: 2%;
            width: 96%;
            height: 80%;
            margin-top: calc(4% + 15px);
            overflow-y: scroll;
            z-index: 1;

            -ms-overflow-style: none;
            scrollbar-width: none; 
            &::-webkit-scrollbar{
                display: none;
            }
            // background-color: teal;
            .spinner-grow{
                position: absolute;
                top: 50%;
                left: 50%;
            }
            @keyframes spinner-grow {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                50% {
                    opacity: 1; 
                    -webkit-transform: scale(1.5);
                    transform: scale(1.5);
                }
            }
            
            Table{ 
                // background-color: #ffffff;
                position: absolute;
                color: #373A3C;
                table-layout: fixed;
                @media only screen and (max-width: 1024px){
                    font-size: 1.0rem;
                }
                @media only screen and (min-width: 1025px){
                    font-size: 1.25rem;
                }
                overflow: hidden;
                width: 100%;
                border: none;

                th:not(.selection-box){
                    border: none;
                    background-color:  #f5f5f5;
                    color:  #f5f5f5;
                    
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .content-row{
                    background-color: white;
                    &:hover{
                        background-color: #d2d6da09;
                    }
                }
                .selection-box{
                    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
                    width: 35px;
                    cursor: pointer;
                }

                .s{
                    &:hover{
                        border-bottom: 2.5px solid #3c69ff;
                    }
                }

                .tag-td{
                    padding: 0.6rem 0 0.6rem 1rem;
                    width: 7.5%;
                }
                .name-td{
                    padding: 0.6rem 0 0.6rem 1rem;
                    width: 30%;

                    &.btn-mode:hover{
                        cursor: pointer;
                        border-bottom: 2.5px solid #3c69ff;
                    }
                }
                .age-td{
                    padding: 0.6rem 0 0.6rem 1rem;
                    width: 7.5%;
                    
                }.can-td{
                    padding: 0.6rem 0 0.6rem 1rem;
                    
                }.nut-td{
                    padding: 0.6rem 0 0.6rem 1rem;
                    
                }.preg-td{
                    padding: 0.6rem 0 0.6rem 1rem;
                    
                }.tel-td{
                    padding: 0.6rem 0 0.6rem 1rem;
                    width: 18%;
                }

                .add-line{
                    border-bottom: 1.5px solid #e2e5e9;
                }
            }
        }

        .wrapper-0{
            left: 2%;
            position: absolute;
            width: 96%;
            height: fit-content;
            margin-top: calc(4% + 15px);
            z-index: 2;
            
            Table{ 
                background-color: #ffffff;
                position: absolute;
                color: #373A3C;
                table-layout: fixed;
                @media only screen and (max-width: 1024px){
                    font-size: 1.0rem;
                }
                @media only screen and (min-width: 1025px){
                    font-size: 1.25rem;
                }
                overflow: hidden;
                width: 100%;

                .selection-box{
                    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
                    width: 35px;
                    cursor: pointer;
                }

                .s{
                    &:hover{
                        border-bottom: 2.5px solid #ff3c3c;
                    }
                }

                th:not(.selection-box){
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .tag-th{
                    padding: 0.6rem 0 0.6rem 1rem;
                    width: 7.5%;
                }
                .name-th{
                    padding: 0.6rem 0 0.6rem 1rem;
                    width: 30%;
                }
                .age-th{
                    padding: 0.6rem 0 0.6rem 1rem;
                    width: 7.5%;
                    
                }.can-th{
                    padding: 0.6rem 0 0.6rem 1rem;
                    
                }.nut-th{
                    padding: 0.6rem 0 0.6rem 1rem;
                    
                }.preg-th{
                    padding: 0.6rem 0 0.6rem 1rem;
                    
                }.tel-th{
                    padding: 0.6rem 0 0.6rem 1rem;
                    width: 18%;
                }

                .add-line{
                    border-bottom: 1.5px solid #d1d6db;
                }
            }
        }
    }
}